<div id="accordion">
  <% @tables.each do |table| %>
    <div>
      <div class="card-header" id="heading<%= table.id %>">
        <h5 class="mb-0">
          <button
            <% if table.id.to_s == params[:table] %>
              class="btn btn-link"
            <% else %>
              class="btn btn-link collapsed"
            <% end %>
            data-toggle="collapse"
            data-target="#collapse<%= table.id %>"
            aria-expanded="false"
            aria-controls="collapse<%= table.id %>"
            >
            Table <%= table.table_number %> -- Status:
            <% if table.orders.map(&:status).uniq.length == 1 && table.orders.map(&:status).uniq[0] == "ready to serve" %>
              All orders delivered
            <% else %>
              Preparing <%= table.orders.where(status: "complete").count %> orders
            <% end %>
          </button>
        </h5>
      </div>
      <div
        id="collapse<%= table.id %>"
        <% if table.id.to_s == params[:table] %>
          class="collapse open-card show"
        <% else %>
          class="collapse open-card"
        <% end %>
        aria-labelledby="heading<%= table.id %>"
        data-parent="#accordion"
      >
        <div class="card-body">
            <% table.orders.each do |order| %>
              <%= simple_form_for(order) do |f| %>
                <div class="row" style="margin-top: 20px; margin-bottom: 5px;">
                  Order <%= order.id %>,  <em>  ordered <%= time_ago_in_words(order.created_at, include_seconds: true) %> ago </em>
                </div>
                <% order.items.tally.each do |item, count| %>
                  <div class="row">
                    <div class="col-8 pl-0 border-bottom border-white" style="margin-bottom: 10px;">-<%= item.name %></div>
                    <div class="col-2 pl-0 border-bottom border-white" style="margin-bottom: 10px;"><%= count %>x</div>
                    <div class="col-2 pl-0 border-bottom border-white" style="margin-bottom: 10px;">€<%= item.price %>  </div>
                  </div>
                <% end %>
                <div
                  class="row"
                  data-controller="disable-button"
                >
                  <%= f.submit "Ready?", class: "button-submit-form", method: :patch, remote: true,
                  data: { disable_button_target: 'button',
                  action: 'click->disable-button#click'  } %>
                </div>
              <% end %>
            <% end %>
          <div class="row border-bottom border-dark total-sum">
            <% prices = table.orders.map(&:items).flatten.map(&:price) %>
            Total: €<%= prices.sum %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>


<%# make a if statement depending on the order, if status is ready to serve then show in italic the order and disable button
else display the normal order with button %>

<%# .where(status: "complete" || "ready to serve") line 37%>
