<div class="background">
  <div class= "banner_owner">
    <h1 class= "order-title">MY MENU</h1>
    <div class= "emoji_owner">🥑</div>
  </div>
  <div class="mt-5 vh-20 scroll">
  <% i = 0 %>
    <% @items.each do |item| %>
      <div id="accordion">
        <div class="card bg-transparent">
          <div class="card-product d-flex justify-content-between text-center collapse panel-collapse" id="headingOne<%= i.to_s %>">
              <% if item.photo.attached? %>
                <%= cl_image_tag item.photo.key, height: 150, width: 150, crop: :fill, class: "m-0 p-2" %>
              <% else %>
                <img class ="m-0 p-2" src="https://media.istockphoto.com/photos/shakh-plov-picture-id1214641059?b=1&k=20&m=1214641059&s=170667a&w=0&h=O5nQMbhqaDaQFbM49RJpbTagWZMhaxo6C27-mgeRdbs="/>
              <% end %>
              <div id="name_content" class="m-1">
                <div>
                  <%= item.name %>
                </div>
                <div>
                  <button class="btn btn-link text-nowrap" data-toggle="collapse" data-target="#collapseOne<%= i.to_s %>" aria-expanded="true" aria-controls="collapseOne<%= i.to_s %>">
                    Description
                  </button>
                </div>
              </div>
              <div id="price_button" class="p-3">
              <%= item.price %>€
                <div class="button-bottom" data-toggle="modal" data-target="#FINAL">
                  <%= link_to item_path(item), method: :delete, remote: true do%>
                    <i class="fas fa-trash"></i>
                  <% end %>
                </div>
            </div>
          </div>
          <div id="collapseOne<%= i.to_s %>" class="collapse hidden" aria-labelledby="headingOne<%= i.to_s %>" data-parent="#accordion">
            <div class="card-body" id="owner-menu-text-color">
              <h6>Description</h6>
              <%= item.description %>
            </div>
          </div>
        </div>
      </div>
      <% i+=1 %>
    <% end %>

  </div>
    <div class="d-flex justify-content-center" style="position:sticky; bottom: 10px;">
    <button type="button" class="button vw-100 m-3 text-nowrap" style=" height:51px; box-shadow: 0px; bottom: 40px; color:white; text-decoration:none; border-radius:30px; border: 0;" data-toggle="modal" data-target="#AddItem">
      NEW ITEM
    </button>
    </div>
  <%= render partial: "modal_item" %>
</div>
