<body style="background-color: #084C61">

<div class="mb-4" style="background-color: #084C61; height:100%; margin: 0px auto;">
  <div class= "banner_owner">
    <h1 class= "order-title">MY TABLES</h1>
    <div class= "emoji_owner">🥑</div>
  </div>
  <div class="d-flex flex-column align-items-between" style="height:65vh;">

  <div class="overflow-auto" style="margin-top: 50px; max-height:60vh" >
  <% i = 0 %>
    <% @tables.each do |table| %>
      <div id="accordion">
        <div class="card bg-transparent border-0">
          <div class="card-product d-flex justify-content-center collapse panel-collapse" id="headingOne<%= i.to_s %>">
                <button class="btn btn-link text-nowrap text-decoration-none" data-toggle="collapse" data-target="#collapseOne<%= i.to_s %>" aria-expanded="true" aria-controls="collapseOne<%= i.to_s %>">
                  <h6>Table: <%= table.table_number %></h6>
                </button>
          </div>
          <div id="collapseOne<%= i.to_s %>" class="collapse hidden card-product flex-wrap justify-content-center pb-2"  aria-labelledby="headingOne<%= i.to_s %>" data-parent="#accordion">
            <div class="d-flex card-body justify-content-center overflow-auto" id="owner-menu-text-color">
              <% table_id = table.id%>
              <% table.qr_code = "www.restrong.org/tables/#{table_id}/dinners/new" %>
              <% qr_code = RQRCode::QRCode.new(table.qr_code)%>
              <% svg = qr_code.as_svg( offset: 0, color: '000',module_size: 4, shape_rendering: 'crispEdges', standalone: true)%>
              <div>
                <%= svg.html_safe %>
              </div>
            </div>
            <!-- #Buttons
             <div class="text-center justify-content-between">
              <%= link_to "#restrong.org# ", "www.restrong.org/tables/#{table_id}/dinners/new" %>
              <%= link_to "#Local Host#", new_dinner_path(table) %>
            </div>
            -->
          </div>
        </div>
      </div>
      <% i+=1 %>
    <% end %>
  </div>

</div>
<div class="d-flex justify-content-between flex-wrap" style=" background-color: #084C61">
    <button type="button" class="button vw-100 m-1 text-nowrap" style=" box-shadow: 0px; color:white; text-decoration:none; border-radius:30px; border: 0;" data-toggle="modal" data-target="#AddTable">
      NEW TABLE
    </button>
    <%= link_to "BACK", owner_path, class: "button m-1 vw-100 text-nowrap text-center", style:"  box-shadow: 0px; color:white; text-decoration:none; border-radius:30px; border: 0;" %>
</div>
</div>
  <%= render partial: "modal_table" %>
  <%= render partial: "modal_qr" %>

</body>
