<div class= "banner">
  <h1 class= "order-title">YOUR ORDERS</h1>
  <div class= "emoji">🌶</div>
</div>
<div style="margin-top: 40px">
  <% @order.items.tally.each do |key,value| %>
    <div class="d-flex order-details">
      <% if key.photo.attached? %>
        <%= cl_image_tag key.photo.key, height: 150, width: 150, crop: :fill %> <br>
      <% end %>
      <div class="order-info">
        <% item = key.name %>
        <% quantity = value %>
        <% price = key.price %>
        <%= item %>: <%= (price * quantity).round(2) %> € <br>
        <%= link_to order_item_path(item_id: key), method: :delete, class: "minus_button", remote: true do %>
          <i class="fas fa-minus-circle"></i>
        <% end %>
        (<%= quantity %>)
        <%= link_to order_items_path(item_id: key), class: "plus_button", remote: true, method: :post do %>
          <i class="fa fa-plus-circle"></i>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
<div class="d-flex justify-content-between pr-2 pl-2">
  <%= link_to order_path(@order), method: :delete, class: "delete_button", style: "position:sticky" do %>
  Delete my order <i class="fas fa-trash"></i>
  <% end %>
  <%= link_to "Send the order", order_path(@order), method: :patch, class:"pay_button" %>
</div>
