<div class= "banner">
  <h1 class= "order-title">Your Orders</h1>
  <div class= "emoji">🥑</div>
</div>

<div class="cards p-4">
  <% @order.items.tally.each do |key,value| %>

      <% item_name = key.name %>
      <% quantity = value %>
      <% price = key.price %>

      <div class="card-product d-flex justify-content-between">
      <% if key.photo.attached? %>
        <%= cl_image_tag key.photo.key, height: 150, width: 150, crop: :fill %>
      <% else %>
        <img class ="m-0 p-2" src="https://media.istockphoto.com/photos/shakh-plov-picture-id1214641059?b=1&k=20&m=1214641059&s=170667a&w=0&h=O5nQMbhqaDaQFbM49RJpbTagWZMhaxo6C27-mgeRdbs="/>
      <% end %>
        <%= item_name %>
        <div class="m-1">
          <strong class="text-left"><%= (price * quantity).round(2) %>€</strong>
          <div id="plus_minus" class="d-flex flex-nowrap">
            <%= link_to order_item_path(item_id: key), method: :delete, class: "minus_button", remote: true do %>
              <i class="fas fa-minus-circle"></i>
            <% end %>
            (<%= quantity %>)
            <%= link_to order_items_path(item_id: key), class: "plus_button", method: :post do %>
              <i class="fa fa-plus-circle"></i>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <div class="d-flex justify-content-between m-3">
    <p>Total:</p><%= "#{(@order.items.sum(:price)).round(2)}€" %>
  </div>

<div class="d-flex justify-content-between pr-2 pl-2">
  <%= link_to order_path(@order), method: :delete, class: "delete_button" do %>
  Delete my order <i class="fas fa-trash"></i>
  <% end %>
  <%= link_to "Send the order", order_path(@order), method: :patch, class:"pay_button" %>
</div>
</div>
