<h1>Your Order</h1>
<% @order.items.each do |item| %>
  <% if item.id.ex %>
    <li>Quantity</li>
  <% else %>
    <li><%= item.name %>- <%= item.price %> euros
        <%= link_to order_item_path(item_id: item), method: :delete, class: "btn btn-danger", data: { confirm: "Are you sure?" } do %>
          "delete item" <i class="fas fa-cart-plus"></i>
        <% end %>
    </li>
  <% end %>
<% end %>

<%= link_to order_path(@order), method: :delete, class: "btn btn-danger" do %>
        "delete my order" <i class="fas fa-cart-plus"></i>
      <% end %>
<%= link_to "confirm my order", order_path(@order), method: :patch, class:"btn btn-primary" %>
