<div style="min-height: 100vh; height: 100%; background: #e5e5e5;">

  <div class= "banner">
    <h1 class= "order-title">Your Orders</h1>
    <div class= "emoji">🥑</div>
  </div>

  <div class="cards p-4">
    <% @order.items.tally.each do |key,value| %>
    <div>
          <% item_name = key.name %>
          <% quantity = value %>
          <% price = key.price %>
          <div class="card-product d-flex justify-content-between">
            <% if key.photo.attached? %>
              <%= cl_image_tag key.photo.key, class: "m-0 p-2"%>
            <% else %>
              <img class ="m-0 p-2" src="https://media.istockphoto.com/photos/shakh-plov-picture-id1214641059?b=1&k=20&m=1214641059&s=170667a&w=0&h=O5nQMbhqaDaQFbM49RJpbTagWZMhaxo6C27-mgeRdbs="/>
            <% end %>
            <div>
              <%= item_name %>
            </div>
            <div class="m-1 text-center">
              <strong class="text-left"><%= (price * quantity).round(2) %>€</strong>
              <div id="plus_minus">
                <%= link_to order_item_path(item_id: key), method: :delete, class: "minus_button", remote: true do %>
                  <i id="minus-circle", class="fas fa-minus-circle"></i>
                <% end %>
                <span class="spacing-quant"> (<%= quantity %>) </span>
                <%= link_to order_items_path(item_id: key), class: "plus_button", method: :post do %>
                  <i id="plus-circle", class="fa fa-plus-circle"></i>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
      <div class="d-flex justify-content-between m-3">
        <p>Total:</p><%= "#{(@order.items.sum(:price)).round(2)}€" %>
      </div>
    </div>

  </div>
    <div class="d-flex justify-content-center text-nowrap text-center" style="bottom:40px; right:13.6px; left:13.6px; bottom: 20px;">
      <%= link_to order_path(@order), method: :delete, class: "delete_button text-center m-2 1.5rem" do %>
      Delete order <i class="fas fa-trash mt-2 "></i>
      <% end %>
      <%= link_to "Send order 🔪", order_path(@order), method: :patch, class:"pay_button vw-50 text-center m-2" %>
    </div>
</div>
