<div class="cards">
  <h1>Menu</h1>
  <% @items.each do |item| %>
    <div class="card-product">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
      <div class="card-product-infos">
        <p><strong>Name: </strong> <%= item.name %>
        <strong>Description: </strong><%= item.description %>
        <strong>Price: </strong> <%= item.price %>€
        <%= link_to order_items_path(item_id: item), method: :post, class: "btn btn-primary" do %>
          "add to my order" <i class="fas fa-cart-plus"></i>
        <% end %>
        </p>
      </div>
    </div>
  <% end %>
  <div class="d-flex justify-content-center">
    <% if @order.present? %>
      <%= link_to "My Order", order_path(@order) , class: "button" %>
    <% end %>
  </div>
</div>
