<div class="container" data-controller="show-my-order">
  <div class="cards">
    <h1>Menu</h1>
    <% @items.each do |item| %>
      <div class="card-product">
        <div class="card-product-infos">
          <p><strong>Name: </strong> <%= item.name %>
          <strong>Description: </strong><%= item.description %>
          <strong>Price: </strong> <%= item.price %>€
          <%= link_to order_items_path(item_id: item), method: :post, class: "btn btn-primary", data: { show_my_order_target: 'button',
          action: 'click->show-my-order#click'
          } do %>
            "add to my order" <i class="fas fa-cart-plus"></i>
          <% end %>
          </p>
        </div>
      </div>
    <% end %>

  </div>

  <% if @order.present? %>
    <div class="d-flex justify-content-center">
      <%= link_to "My Order", order_path(@order), class: "button" %>
    </div>
  <% else %>
    <div class="d-flex justify-content-center" data-show-my-order-target="order">
    </div>
  <% end %>
</div>

<%# , data { show_my_order_target:'order' } %>
