<div>
  <div class="cards">
    <div class="menu">
    <strong><h1>Menu</h1></strong>
    </div>
    <% @items.each do |item| %>
      <div class="card-product">
      <% if item.imageurl? %>
      <img src="<%= item.imageurl %>"/>
      <% else src="https://media.istockphoto.com/photos/shakh-plov-picture-id1214641059?b=1&k=20&m=1214641059&s=170667a&w=0&h=O5nQMbhqaDaQFbM49RJpbTagWZMhaxo6C27-mgeRdbs="%>
      <% end %>
        <div class="card-product-infos">
          <p><strong>Name: </strong> <%= item.name %>
          <strong>Description: </strong><%= item.description %>
          <strong>Price: </strong> <%= item.price %>€
          <%= link_to order_items_path(item_id: item), method: :post, remote: true, class: "btn btn-primary" do %>
          <i class="fas fa-cart-plus"></i>
          <% end %>
          </p>
        </div>
      </div>
    <% end %>
  </div>
  <% if @order.present? %>
      <div class="d-flex justify-content-center">
        <%= link_to "My Order", order_path(@order), class: "button" %>
      </div>
  <% end %>
</div>

<%# , data { show_my_order_target:'order' } %>
