<!DOCTYPE html>
<html>
  <head>
    <title> Restaurants of tomorrow | ReStrong </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= favicon_link_tag "favicon.ico" %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <meta property="og:image" content="http://www.restrong.org/qr_code.jpg"/>
    <meta property="og:title" content="ReStrong"/>
    <meta property="og:description" content="Streamline food ordering process with ReStrong"/>
    <meta property="og:image:width" content="1200"/>
    <meta property="og:image:height" content="630"/>
    <meta property="og:url" content="http://www.restrong.org"/>
    <meta property="og:type" content="App"/>

  </head>

  <body>
    <%= render 'shared/flashes' %>
    <%= yield %>
  </body>
</html>
