<!DOCTYPE html>
<html>
  <head>
    <title>ReStrong, increase your customer turnover by streamlining your odering process </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag "favicon.ico" %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <meta property="og:image" content="https://media.istockphoto.com/photos/cashless-digital-wallet-payment-picture-id1280404261?b=1&k=20&m=1280404261&s=170667a&w=0&h=1c5DtRdp416vgPGXRUyXww2-uaV7UK-Jgg3zU-m_Uko="/>
    <meta property="og:title" content="ReStrong"/>
    <meta property="og:description" content="Streamline food ordering process with ReStrong"/>
    <meta property="og:image:width" content="1200"/>
    <meta property="og:image:height" content="630"/>
  </head>

  <body>
    <%= render 'shared/flashes' %>
    <%= yield %>
  </body>
</html>
